/*** uncss> filename: http://localhost:8888/darkroom/css/foundation.css ***/

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: 'meta';
  src: url('./MetaWeb-Normal.eot');
  src: url('.MetaWeb-Normal.eot?#iefix') format('embedded-opentype'),
       url('./MetaWeb-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #DCDCDC;
  /*background: white;*/
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "meta", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

a:hover {
  cursor: pointer;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 40em;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

@media only screen {
  .small-push-1 {
    position: relative;
    left: 10%;
    right: auto;
  }

  .small-pull-1 {
    position: relative;
    right: 10%;
    left: auto;
  }

  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  .small-1 {
    width: 10%;
  }

  .small-2 {
    width: 20%;
  }

  .small-3 {
    width: 30%;
  }

  .small-4 {
    width: 40%;
  }

  .small-7 {
    width: 70%;
  }
}

@media only screen and (min-width: 40.063em) {
  .medium-push-1 {
    position: relative;
    left: 10%;
    right: auto;
  }

  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  .medium-1 {
    width: 10%;
  }

  .medium-2 {
    width: 20%;
  }

  .medium-3 {
    width: 30%;
  }

  .medium-4 {
    width: 40%;
  }

  .medium-6 {
    width: 60%;
  }

  .medium-7 {
    width: 70%;
  }

  .medium-8 {
    width: 80%;
  }
}

@media only screen and (min-width: 64.063em) {
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
}

button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "meta", sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #2ba6cb;
  border-color: #2285a2;
  color: white;
  transition: background-color 300ms ease-out;
}

button:hover,
button:focus {
  background-color: #2285a2;
}

button:hover,
button:focus {
  color: white;
}

button.secondary {
  background-color: #e9e9e9;
  border-color: #bababa;
  color: #333333;
}

button.secondary:hover,
button.secondary:focus {
  background-color: #bababa;
}

button.secondary:hover,
button.secondary:focus {
  color: #333333;
}

button.black {
  background-color: #000;
  border-color: #9e0c0f;
  color: white;
}

button.black:hover,
button.black:focus {
  background-color: #000;
}

button.black:hover,
button.black:focus {
  color: white;
}

button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 40.063em) {
  button {
    display: inline-block;
  }
}

/* Standard Forms */

form {
  margin: 0 0 1rem;
}

/* Using forms within rows, we need to set some defaults */

/* Label Styles */

label {
  font-size: 0.875rem;
  color: #000;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */
}

label.right {
  float: none !important;
  text-align: right;
}

/* Attach elements to the beginning or end of an input */

/* Adjust padding, alignment and radius if pre/post element is a button */

/* Separate prefix and postfix styles when on span or label so buttons keep their own */

/* We use this to get basic styling on all basic form elements */

input[type="number"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="number"]:focus {
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}

input[type="number"]:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

input[type="number"]:disabled {
  background-color: #dddddd;
  cursor: default;
}

/* Respect enforced amount of rows for textarea */

/* Not allow resize out of parent */

/* Add height value for select elements to match text input height */

select::-ms-expand {
  display: none;
}

/* Adjust margin for form elements below */

/* Normalize file input width */

/* HTML5 Number spinners settings */

/* We add basic fieldset styling */

/* Error Handling */

[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: white;
}

[data-abide] span.error, [data-abide] small.error {
  display: none;
}

span.error, small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: white;
}

.error input,
.error textarea,
.error select {
  margin-bottom: 0; }
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1rem; }
.error label,
.error label.error {
  color: #c60f13; }
.error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: white; }
.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline; }
.error span.error-message {
  display: block; }

meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 58.75em;
}

/* Wrapped around .top-bar to contain to grid width */

/* Accessibility - hides the forward slash */

.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  transition: opacity 300ms ease-out;
  background-color: #2ba6cb;
  border-color: #258faf;
  color: white;
}

.alert-box.warning {
  background-color: #f08a24;
  border-color: #de770f;
  color: white;
}

/* Panels */

/* Image Thumbnails */

/* Pricing Tables */

/* Pagination centred wrapper */

.text-center {
  text-align: center !important;
}

@media only screen {
  .small-text-right {
    text-align: right !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .medium-text-right {
    text-align: right !important;
  }
}

/* Typography resets */

div,
h1,
h3,
form {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */

a {
  color: #808080;
  font-style: italic;
  text-decoration: none;
  line-height: inherit;
}

a:hover,
a:focus {
  color: #258faf;
}

/* Default paragraph styles */

/* Default header styles */

h1,
h3 {
  font-family: "meta", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h1 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.375rem;
}

.margin-bottom {
  margin-bottom: 30px;
}

.title h1 {
  font-weight: 900;
}

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

/* Helpful Typography Defaults */

small {
  font-size: 60%;
  line-height: inherit;
}

/* Lists */

/* Unordered Lists */

/* Ordered Lists */

/* Definition Lists */

/* Abbreviations */

/* Blockquotes */

/* Microformats */

@media only screen and (min-width: 40.063em) {
  h1,
  h3 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.6875rem;
  }
}

/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/

@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

@page {
    margin: 0.5cm;
}

  h3 {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }
}

dialog::backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  background: rgba(0, 0, 0, 0.45);
  z-index: auto;
  display: none;
  left: 0;
}

/* Tooltips */

/* Clearing Styles */

/* Progress Bar */

/* Foundation Joyride */

/* Default styles for the container */

/* Add a little css triangle pip, older browser just miss out on the fanciness of it */

/* Typography */

/* Styles for screens that are at least 768px; */

/* Foundation Dropdowns */

/* small displays */

@media only screen {
  .show-for-medium-up {
    display: none !important;
  }
}

/* medium displays */

@media only screen and (min-width: 40.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }
}

/* large displays */

@media only screen and (min-width: 64.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }
}

/* xlarge displays */

@media only screen and (min-width: 90.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }
}

/* xxlarge displays */

@media only screen and (min-width: 120.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }
}

/* Orientation targeting */

/* Specific visibility for tables */

@media only screen and (orientation: landscape) {
  /* Specific visibility for tables */
}

@media only screen and (orientation: portrait) {
  /* Specific visibility for tables */
}

/* Touch-enabled device targeting */

/* Specific visibility for tables */

/* Print visibility */

.footer {
  margin-top: 100px;
}

#invertAlert {
  visibility: hidden;
}

.timer {
  display: none;
}

#invertAlert {
  font-variant: small-caps;
  font-size: 1.2rem;
}

