<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /darkroom
	RewriteRule ^darkroom/index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /darkroom/index.html [L]
</IfModule>